{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-12">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="alert alert-warning" role="alert">
                {% for message in messages %}
                    {{ message }}<br>
                {% endfor %}
            </div>
            {% endif %}
        {% endwith %}
            {% for data in data_avito %}
            <h3><a href="{{ data.url }}">{{ data.title }}</a></h3>
            <p>{{ data.price }}</p>
            <p>{{ data.metro }}</p>
            <hr />
            {% endfor %}
    </div>
{% endblock %}
